{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="wrapper">
    <div class="SELECTION">
        <div class="fashion_list">
            {% for item in fashion_item_data %}
                <div>
                    <div id="kisekae-area">
                        <img class="base-img" src="{% static 'images/tenasi.png' %}" />
                        {% comment %} {% for result in item %} {% endcomment %}
                            {% for value in data %}
                                {% comment %} {% if value.slug == result.slug.split(',') %} {% endcomment %}
                                {% if item.slug == fashion_list_data.FSL_id %}
                                    {% if value.slug == item.slug %}
                                        <img class="{{ value.category }}" src="{{ value.image.url }}" alt="{{ value.slug }}">
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% comment %} {% endfor %} {% endcomment %}
                    </div>
                    <div class="fashion_detail">
                        <h1>{{ item.title }}</h1>
                        <h2>{{ item.category }}</h2>
                        <h2>{{ item.clothing }}</h2>
                        <h2>{{ item.season }}</h2>
                        
                        <p>性別: {{ item.sex }}</p>
                        <p>{{ item.description }}</p>
                    </div>
                </div>
        </div>
        {% endfor %}
    
    </div>
</div>
{% endblock %}
