{% comment %} {% extends 'app/base.html' %} {% endcomment %}
{% load study_tags %}

{% block title %}Study{% endblock %}
{% block content %}



{% for value in my_info %}
    {% comment %} {% if value.name == Taro %}
    <h1>{{ value.name }}</h1>
    
    {% endif %} {% endcomment %}

    {% if value.age < '20' %}
    <h1>未成年</h1>
    {% endif %}
    
{% endfor %}

{% if my_info.age < 20 %}
    <h1>未成年</h1>
    <h2>{{ my_info.name }}</h2>
{% endif %}

<ul>
    {% for result in hairetu %}
    
    <li>{{ result }}</li>
    {% if result == 'a' %}
        <li>{{ result }}</li>
    {% endif %}
    {% endfor %}
</ul>

{% if my_info.name != 'Taro' %}
<p>Taroではない</p>
{% endif %}
<p>{{ status | status_to_string:'AAA' }}</p>

{{ my_name }}

{% endblock %}