{% extends "app/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<section class="orderseciton">
    <div class="title_box">
        <h1>お気に入りリストsdfdsf</h1>
        <p>お気に入り登録したリストが表示されます。</p>
    </div>
    {% if FashionReview_Data %}
        {% for review in FashionReview_Data %}
        <div class="reviewers">
            <div class="fashion_product_image">
                <div id="kisekae-area">
                    <img class="base-img" src="{% static 'images/tenasi.png' %}" />
                    {% for value in fashion_list_data %}
                        {% comment %} <p>review {{review.content_id}}</p>
                        <p>value {{value.FSL.slug}}</p> {% endcomment %}
                        {% if review.content_id == value.FSL.slug|slugify %}
                            {% for result in item_data %}
                                {% comment %} <p>aasdas</p> {% endcomment %}
                                {% if value.using_item == result.slug %}
                                    <img class="{{ result.category }}" src="{{ result.image.url }}" alt="{{ value.using_item }}">
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                </div>
            <div class="review_detail">
                <div class="rate">
                    {% for file_id in ""|rjust:review.like %}
                    <label id ="star">★</label>
                    {% endfor %}
                </div>
                <h3>{{ review.title }}</h3>
                <p>{{ review.content }}</p>
                <div id="product_detail_box">
                    <a href="{% url 'fashion_customize_review_edit' review.id review.content_id %}" class="btn btn-info"><i class="fas fa-comments"></i>レビュー編集</a>
                    <a href="" class="btn btn-danger"><i class="fas fa-trash"></i>レビュー削除</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="paginator">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                {% if FashionReview_Data.has_previous %}
                <a class="pagination-previous" href="?p={{ FashionReview_Data.previous_page_number }}">前のページへ</a>
                {% endif %}
                {% if FashionReview_Data.has_next %}
                <a class="pagination-next" href="?p={{ FashionReview_Data.next_page_number }}">次のページへ</a>
                {% endif %}
                <ul class="pagination-list">
                    {% if FashionReview_Data.has_previous %}
                    {% if FashionReview_Data.previous_page_number != 1 %}
                    <li><a class="pagination-link" href="?p=1">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    {% endif %}
                    <li><a class="pagination-link"
                            href="?p={{ FashionReview_Data.previous_page_number }}">{{ FashionReview_Data.previous_page_number }}</a></li>
                    {% endif %}
                    <li><a class="pagination-link is-current" href="?p={{ FashionReview_Data.number }}">{{ FashionReview_Data.number }}</a></li>
                    {% if FashionReview_Data.has_next %}
                    <li><a class="pagination-link"
                            href="?p={{ FashionReview_Data.next_page_number }}">{{ FashionReview_Data.next_page_number }}</a></li>
                    {% if FashionReview_Data.next_page_number != FashionReview_Data.paginator.num_pages %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link"
                            href="?p={{ FashionReview_Data.paginator.num_pages }}">{{ FashionReview_Data.paginator.num_pages }}</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% else %}
        <h2>お気に入りが見つかりません。</h2>
    {% endif %}
</section>


{% endblock %}