{% extends "app/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<section class="orderseciton">
    <div class="title_box">
        <h1>お気に入りリスト</h1>
        <p>お気に入り登録したリストが表示されます。</p>
    </div>
    {% if Favorite_Item_List %}
        {% for ItemList in Favorite_Item_List %}
        <div class="order-card" id = "favorite_main">
            {% for item in item_data%}
                {% if item.slug == ItemList.favorite_item%}
                <div class="Order_item" id = "favorite_item">
                    <div class="favorite_detail">
                        <div class="favorite_item_details" id = "favorite_item_image">
                                <img src="{{ item.image.url }}" alt="商品" class="item_image" />
                                <p>{{ item.title }}</p>
                        </div>
                        <div class="OrderFunction">
                            <a class="btn-primary" id = "favorite_button" href="{% url 'product' item.slug %}">商品を表示</a>
                            <a class="btn-info" id = "favorite_button" href="{% url 'review_post' item.slug %}">商品レビューを書く</a>
                            <a class="btn-danger" id = "favorite_button" href="{% url 'favorite_delete' item.slug %}">お気に入り解除</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
        <div class="paginator">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                {% if Favorite_Item_List.has_previous %}
                <a class="pagination-previous" href="?p={{ Favorite_Item_List.previous_page_number }}">前のページへ</a>
                {% endif %}
                {% if Favorite_Item_List.has_next %}
                <a class="pagination-next" href="?p={{ Favorite_Item_List.next_page_number }}">次のページへ</a>
                {% endif %}
                <ul class="pagination-list">
                    {% if Favorite_Item_List.has_previous %}
                    {% if Favorite_Item_List.previous_page_number != 1 %}
                    <li><a class="pagination-link" href="?p=1">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    {% endif %}
                    <li><a class="pagination-link"
                            href="?p={{ Favorite_Item_List.previous_page_number }}">{{ Favorite_Item_List.previous_page_number }}</a></li>
                    {% endif %}
                    <li><a class="pagination-link is-current" href="?p={{ Favorite_Item_List.number }}">{{ Favorite_Item_List.number }}</a></li>
                    {% if Favorite_Item_List.has_next %}
                    <li><a class="pagination-link"
                            href="?p={{ Favorite_Item_List.next_page_number }}">{{ Favorite_Item_List.next_page_number }}</a></li>
                    {% if Favorite_Item_List.next_page_number != Favorite_Item_List.paginator.num_pages %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link"
                            href="?p={{ Favorite_Item_List.paginator.num_pages }}">{{ Favorite_Item_List.paginator.num_pages }}</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% else %}
        <h2>お気に入りが見つかりません。</h2>
    {% endif %}
</section>


{% endblock %}