{% extends "app/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<section class="orderseciton">
    <div class="title_box">
        <h1>お気に入りコーデリスト</h1>
        <p>お気に入り登録したコーデリストが表示されます。</p>
    </div>
    <div class="SELECTION_LIST">
        {% if Favorite_Item_List %}
        <div class="fashion_list">
            {% for favorite in Favorite_Item_List %}
                {% for item in fashion_item_data %}
                    {% if item.slug == favorite.favorite_item %}
                        <div id="fashion_list_box">
                            <div class="fashion_list_area" id="kisekae-area">
                                <img class="base-img" src="{% static 'images/tenasi.png' %}" />
                                {% for test in fashion_list_data %}
                                    {% if test.FSL_id == item.slug %}
                                        {% for est in item_data %}
                                            {% if est.slug == test.using_item %}
                                                <img class="{{ est.category }}" src="{{ est.image.url }}">
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="fashion_list_detail">
                                <h1>{{ item.title|truncatechars:15 }}</h1>
                                <h2>ジャンル: {{ item.clothing }}</h2>
                                <h2>季節: {{ item.season }}</h2>
                                <p>性別: {{ item.sex }} 向け</p>
                                <p>作者ID: {{ item.user.user_screen_id }}</p>
                                <p>説明: {{ item.description|truncatechars:15 }}</p>
                                <div id="fashion_list_detail_box">
                                    <a href="{% url 'fashion_view' slug=item.slug %}" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>詳しく見る。</a>
                                        <a href="{% url 'favorite_list_delete' slug=item.slug %}" class="btn" id="review_button_disabled"><i class="fas fa-star"></i>お気に入り解除</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        <div class="paginator">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                {% if Favorite_Item_List.has_previous %}
                <a class="pagination-previous" href="?p={{ Favorite_Item_List.previous_page_number }}">前のページへ</a>
                {% endif %}
                {% if Favorite_Item_List.has_next %}
                <a class="pagination-next" href="?p={{ Favorite_Item_List.next_page_number }}">次のページへ</a>
                {% endif %}
                <ul class="pagination-list">
                    {% if Favorite_Item_List.has_previous %}
                    {% if Favorite_Item_List.previous_page_number != 1 %}
                    <li><a class="pagination-link" href="?p=1">1</a></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    {% endif %}
                    <li><a class="pagination-link"
                            href="?p={{ Favorite_Item_List.previous_page_number }}">{{ Favorite_Item_List.previous_page_number }}</a></li>
                    {% endif %}
                    <li><a class="pagination-link is-current" href="?p={{ Favorite_Item_List.number }}">{{ Favorite_Item_List.number }}</a></li>
                    {% if Favorite_Item_List.has_next %}
                    <li><a class="pagination-link"
                            href="?p={{ Favorite_Item_List.next_page_number }}">{{ Favorite_Item_List.next_page_number }}</a></li>
                    {% if Favorite_Item_List.next_page_number != Favorite_Item_List.paginator.num_pages %}
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><a class="pagination-link"
                            href="?p={{ Favorite_Item_List.paginator.num_pages }}">{{ Favorite_Item_List.paginator.num_pages }}</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% else %}
        <h2>お気に入りが見つかりません。</h2>
    {% endif %}
</section>


{% endblock %}