* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    margin-top: 70px;
    flex: 1;
}

.formpost {
    margin-bottom: 1rem;
}

.card-auth {
    width: 400px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.card-body {
    padding: 2rem;
}

#fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-auth {
    width: 100%;
}

.form-label-group {
    margin-bottom: 1rem;
}

.form-label-group input {
    border-radius: 2rem;
}

.form-control:focus {
    box-shadow: none;
}

.card-profile {
    width: 700px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.button {
    width: 150px;
}

.btn {
    font-size: 80%;
    border-radius: 5rem;
    font-weight: bold;
}

.profile_table {
    width: 100%;
    border: 1px solid #D1DBEB;
    border-radius: 8px;
    border-collapse: separate;
    overflow: hidden;
}

.profile_table .header {
    width: 200px;
    padding: 16px 24px;
    text-align: left;
    background: #F1F5FA;
}

.profile_table .data {
    padding: 16px 24px;
}

.form_wrap {
    display: grid;
    gap: 16px;
}

.form_wrap-2 {
    grid-template-columns: repeat(2, 1fr);
}

.form-control:focus {
    box-shadow: none;
}

.itemlist img {
    height: 150px;
    object-fit: contain;
}

.product img {
    height: 350px;
    object-fit: contain;
}

.order img {
    height: 100px;
    object-fit: contain;
}

#LOGO {
    width: 50px;
}

#LOGO:hover {
    opacity: 0.3;
}

#cart-icon{
    /* width: 20px; */
    display: flex;
    flex-direction: row;
}
#cart-icon a img{
    width: 20px;
}
.sp-nav {
    display: none;
}

header {
    /* display: flex;
    justify-content: space-around; */

    /* display: grid;
    place-content: center; */
    z-index: 10;
}

.pc-nav {

    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    place-content: center;
    place-items: center; */
    position: fixed;
    width: 100%;
    height: 60px;
    transition: 1s;
    box-shadow: 10px 10px 15px -10px;
    margin: 0 auto;
    z-index: 10;
    background-color: #00000048;
}

.pc-nav ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
    list-style: none;
}

.pc-nav ul li {
    display: grid;
    place-content: center;
    place-items: center;
}

.pc-nav ul li a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.pc-nav ul li a:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.pc-nav.hide {
    transition: 1s;
    transform: translateY(-60px);
}

@media screen and (max-width: 640px) {
    .pc-nav {
        display: none;
    }

    .sp-nav {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        width: 100%;
        background: rgba(0, 0, 0, .8);
        opacity: 0;
        transform: translateY(-100%);
        transition: all .2s ease-in-out;
    }

    #hamburger {
        position: relative;
        display: block;
        width: 30px;
        height: 25px;
        margin: 0 0 0 auto;
        cursor: pointer;
    }

    #hamburger:hover {
        opacity: 0.5;
        transition: .3s;
    }

    #hamburger span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transform: translateY(-50%);
    }

    #hamburger::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
    }

    #hamburger::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 70%;
        height: 2px;
        background-color: #fff;
    }

    /*スマホメニュー*/
    .sp-nav ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .sp-nav li {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 20px;
    }

    .sp-nav li span {
        font-size: 15px;
        color: #fff;
    }

    .sp-nav li a,
    .sp-nav li span {
        display: block;
        padding: 20px 0;
    }

    .sp-nav li a {
        text-decoration: none;
        color: #fff;
    }

    .sp-nav li a:hover {
        opacity: 0.5;
        transition: .3s;
    }
}

.sp-nav .close {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

.close:hover {
    opacity: 0.5;
    transition: .3s;
}

.sp-nav .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate(45deg);
}

.sp-nav .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate(-45deg);
}

.toggle {
    transform: translateY(0);
    opacity: 1;
}





.MyPageManagement {
    width: 100%;
}

.MyPageManagement ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: break-word; */
    /* justify-content: center; */
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-flow: row wrap; */
}

.MyPageManagement ul li {

    width: 400px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;


    display: block;
    list-style-type: none;
    margin-bottom: 10px;
    border: 1px solid #252525;
    border-radius: 10px;
}

.MyPageManagement a {
    color: #252525;
    text-decoration: none;
}

.MyPageManagement a:hover {
    opacity: 0.5;
}



#kisekae-area {
    width: 50%;

    border: solid;
    /* margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px; */
    text-align: center;
    position: relative;
}

#select-img-area {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.select-img {
    border: solid 1px #000;
    text-align: center;
    padding: 10px;
    width: 20%;
    margin-right: 5px;
    cursor: pointer;
}

.select-img img {
    display: none;
    width: 40%;
}

.select-img img:first-child {
    display: inline-block;
}

.select-img:hover {
    background-color: #e6e6e6;
    opacity: 0.6;
}

.select-img.selected {
    background-color: #e6e6e6;
}

.base-img {
    width: 50%;
}

#kisekae-area img.base-img {
    position: relative !important;
    width: 100%;
    top: auto;
    left: auto;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
}

#kisekae-area2 img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.wrapper {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}

.SELECTION {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.stage {

    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.fashion_detail {}

.fashion {
    /* width: 500px; */
    width: auto;
    max-height: 800px;
    /* margin-left: 10px;
    margin-top: 30px;
    margin-right: 30px; */
    border: solid;
    border-collapse: collapse;
    display: table;
    /* table-layout: fixed; */
    padding: 200px;
}

.fashion_design {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.control {
    width: 100%;
    display: grid;
    place-content: center;
}

.nanka {
    /* box-sizing: border-box; */
    /* width: calc(100% + 9px); */
    width: 100%;
    height: 100px;
    /* margin-top: -5px;
    margin-left: -4px;
    padding-top: 15px; */
    border-bottom: solid;
    text-align: center;
    display: grid;
    place-content: center;

}

.product-field {
    padding-left: 15px;
    padding-right: 15px;
}

.product-field {
    width: 100%;
}

#select-img-area {
    width: 100%;
}

#select-img-area ul {
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
}

.select-img {
    width: 40%;
    list-style: none;
    margin-bottom: 20px;
}

/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 550px;
    margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
    width: calc(100% / 3);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    margin: 0px;
}

.tab_item:hover {
    opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#tops:checked~#tops_content,
#pants:checked~#pants_content,
#skirt:checked~#skirt_content,
#outer:checked~#outer_content,
#cap:checked~#cap_content,
#onepeace:checked~#onepeace_content {
    display: relative;
    height: 670px;
    overflow-y: scroll;
    display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked+.tab_item {
    background-color: #5ab4bd;
    color: #fff;
}

#kisekae-area .Tops {
    width: 40%;
    position: absolute;
    /* top: 35%; */
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 14;
}

#kisekae-area .Pants {
    width: 35%;
    position: absolute;
    /* top: 35%; */
    top: 40%;
    left: 50.3%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 10;
}

#kisekae-area .Skirt {
    width: 30%;
    position: absolute;
    /* top: 35%; */
    top: 30%;
    left: 50.3%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 13;
}

#kisekae-area .Outer {
    width: 40%;
    position: absolute;
    /* top: 35%; */
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 15;
}

#kisekae-area .Onepeace {
    width: 45%;
    position: absolute;
    /* top: 35%; */
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 10;
}

#kisekae-area .Cap {
    width: 15%;
    position: absolute;
    /* top: 35%; */
    top: -4%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 10;
}


.customizedetail {
    display: flex;
    flex-direction: column;
}

.switchbox {
    display: flex;
}


/* ファッションリスト */
.fashion_list {
    display: flex;
    justify-content: space-around;
}

#fashion_box {
    width: 50%;
}



.orderseciton {
    margin-left: 10px;
}

.input-group {
    width: 400px;
}

.ordersearchbox {
    width: 600px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#searchbutton {
    height: 38px;
}

.order-card {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-right: 40px;
    border: solid 1px;
    border-radius: 6px;
    border-color: darkgray;
}

.Order_details {
    width: 100%;
    height: auto;
    display: grid;
    align-content: center;

    background-color: rgb(228, 228, 228);
}

.Order_details ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.Order_details ul li {
    display: flex;
}

.Order_details ul li p {
    margin-bottom: 1px;
    font-size: 13px;
}

.detail {
    display: flex;
    justify-content: space-between;
}



.OrderFunction {
    width: 30%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;

    gap: 6px;
    /* 余白 */
}

.OrderFunction a {
    display: grid;
    place-content: center;
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-radius: 8px;
    /* font-weight: bold; */
    /* border-radius: 8px; */
}

.Order_item {
    width: 100%;
    height: auto;
    border: solid 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-color: darkgray;
}

.Order_item h3 {
    font-size: 20px;
    padding-left: 15px;
    padding-top: 6px;
}

.Order_item button {
    margin-right: 20px;
}

.item_details {
    display: grid;
    place-content: center;
}

.item_details a img {
    width: 20%;
}


.item_image {
    width: 100px;
    height: auto;
    margin-left: 10px;
}

.page_number {
    text-decoration: none;
    color: #252525;
}

.review {
    text-decoration: none;
    color: #252525;
}

.review_item {
    display: flex;
    /* flex-direction: row; */
}

.rate-form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rate-form input[type=radio] {
    display: none;
}

.rate-form label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 35px;
}

.rate-form label:hover {
    color: #ffcc00;
}

.rate-form label:hover~label {
    color: #ffcc00;
}

.rate-form input[type=radio]:checked~label {
    color: #ffcc00;
}






.header-munu-ul {
    display: flex;
    height: 50px;
    list-style: none;
}

/* header li{
  align-items: center;
  justify-content: center;
} */
.menu-name {
    color: #898a8e;
    /*color: #0099FF;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}

.nav_item {
    position: relative;
}

.nav_item:hover {
    /* background-color: rgb(230, 230, 230); */
}

.panel {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    /* width: 100%; */
    width: 100px;
    display: none;
    /* background-color: white; */
    z-index: 100;
    border-radius: 3px;
    background-color: #00000048;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
}
.panel-inner{
    display: flex;
    flex-direction: column;
}
.panel_item {
    display: block;
    /* margin: 10px 10px; */
    font-size: 14px;
}

.panel_item a {
    color: #0099FF;
    font-size: 16px;
    font-weight: 100;
}

.panel_item a:hover {
    text-decoration: underline;
}

.nav_item {
    display: block;
    /* width: 230px; */
    text-align: center;
}

.is-active {
    color: orange !important;
}





/* 問い合わせ */

.Inquiry_box{
    width: 100%;
}

.title_box{

}

.question {
    list-style: none;
}

.question li:before {
    content: "▷";
}

.question li a {
    color: #696969;
    text-decoration: none;
    padding: 10px 0;
}

.question li a:hover {
    opacity: 0.5;
}