{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}

    <div class="wrapper">
      <div class="SELECTION_SAVE">
        <div id="kisekae-area">
          <img class="base-img" src="{% static 'images/tenasi.png' %}" />
          {% for value in fashion_list_data %}
            {% for result in item_data %}
                {% if value.using_item == result.slug %}
                    <img class="{{ result.category }}" src="{{ result.image.url }}" alt="{{ value.using_item }}">
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
        <form method="POST">
          {% csrf_token %}
          <div class="customizedetail">
            <p>合計: {{ price | intcomma }}円</p>
            {% comment %} <input type="text" name='title' placeholder = "ここに商品名を入力"> {% endcomment %}
            {% render_field form.title class="form-control" placeholder="タイトルを入力" %} 
            {% render_field form.clothing class="form-control" placeholder="服のジャンル" %} 
            {% render_field form.season class="form-control" placeholder="季節" %} 
            {% render_field form.sex class="form-control" placeholder="性別" %} 
            {% render_field form.color class="form-control" placeholder="色" %} 
            {% render_field form.description class="form-control" placeholder="説明" %}
            {% comment %} <textarea name='description' rows="4" cols="40" placeholder = "ここに説明を入力"></textarea> {% endcomment %}
            <div class="switchbox">
              <p>公開しますか？</p>
              {% render_field form.publish %}
            </div>
          </div>
            <input type="submit" class="btn btn-warning" value="保存する">
        </div>
      </form>
      </div>
    </div>
    {% endblock %}
