{% extends "app/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<section class="favoritesection">
    <div class="title_box">
        <h1>お気に入りリスト</h1>
        <p>お気に入り登録したリストが表示されます。</p>
    </div>
    <ul>
        <li>
            <a href="{% url 'favorite_view' %}">
                <h2>アイテムお気に入りリスト</h2>
                <p>お気に入り登録したリストが表示されます。</p>
            </a>
        </li>
        <li>
            <a href="{% url 'favorite_fashion' %}">
                <h2>ファッションお気に入りリスト</h2>
                <p>お気に入り登録したリストが表示されます。</p>
            </a>
    </ul>
</section>


{% endblock %}