{% extends "app/base.html" %}

{% load humanize %}
{% load static %}

{% block content %}
<div class="swiper" id="swiperIO">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="{% static 'images/1.jpg' %}" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'images/2.jpg' %}" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'images/3.jpg' %}" alt=""></div>
    </div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-pagination swiper-pagination-white"></div>
</div>

<div class="text-center my-5">
    <div class="search">
        <form method="POST" action="{% url 'Index' %}">
            {% csrf_token %}
            {% comment %} <select name="search_id" class="select" id="">
                <option value="all">全て</option>
                <option value="title">商品名</option>
                <option value="category">カテゴリー</option>
                <option value="brand">ブランド名</option>
            </select>

            <select name="sex" class="select" id="">
                <option value="free">性別なし</option>
                <option value="man">男性</option>
                <option value="woman">女性</option>
            </select> {% endcomment %}
            <div class="field has-addons has-addons-centered ">
                <p class="control">
                  <span class="select">
                    <select name="search_id">
                        <option value="all">全て</option>
                        <option value="title">商品名</option>
                        <option value="category">カテゴリー</option>
                        <option value="brand">ブランド名</option>
                    </select>
                  </span>
                  <span class="select">
                    <select name="sex" class="select">
                        <option value="free">性別なし</option>
                        <option value="man">男性</option>
                        <option value="woman">女性</option>
                    </select>
                  </span>
                </p>
                <p class="control">
                  <input class="input" type="text" name="search" placeholder="検索したいワード……">
                </p>
                <p class="control">
                    <button type="submit" class="button is-primary">検索する</button>
                </p>
              </div>
            {% comment %} <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="search" placeholder="検索したいアイテム……">
                  <span class="icon is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
            </div> {% endcomment %}
            {% comment %} <input type="text" name="search" placeholder="検索したいワード……"> {% endcomment %}
            {% comment %} <input type="submit" class="button is-primary" value="検索する"> {% endcomment %}
        </form>
    </div>
    <div class="row">
        {% if search_data == '' %}
        {% for item in item_data %}
        <div class="col-lg-3 col-md-6">
            <div class="card img-thumbnail itemlist mb-3">
                <img src="{{ item.image.url }}" class="card-img-top card-thum">
                <div class="card-body text-center px-2 py-3">
                    <p class="mb-0 text-secondary">{{ item.category }} | {{item.brand}}</p>
                    <h5 class="font-weight-bold">{{ item.title }}</h5>
                    <h4 class="font-weight-bold">{{ item.price | intcomma }}円</h4>
                    <a href="{% url 'product' item.slug %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        {% for item in search_data %}
        <div class="col-lg-3 col-md-6">
            <div class="card img-thumbnail itemlist mb-3">
                <img src="{{ item.image.url }}" class="card-img-top card-thum">
                <div class="card-body text-center px-2 py-3">
                    <p class="mb-0 text-secondary">{{ item.category }} | {{item.brand}}</p>
                    <h5 class="font-weight-bold">{{ item.title }}</h5>
                    <h4 class="font-weight-bold">{{ item.price | intcomma }}円</h4>
                    <a href="{% url 'product' item.slug %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div class="paginator">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if item_data.has_previous %}
        <a class="pagination-previous" href="?p={{ item_data.previous_page_number }}">前のページへ</a>
        {% endif %}
        {% if item_data.has_next %}
        <a class="pagination-next" href="?p={{ item_data.next_page_number }}">次のページへ</a>
        {% endif %}
        <ul class="pagination-list">
            {% if item_data.has_previous %}
            {% if item_data.previous_page_number != 1 %}
            <li><a class="pagination-link" href="?p=1">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            {% endif %}
            <li><a class="pagination-link"
                    href="?p={{ item_data.previous_page_number }}">{{ item_data.previous_page_number }}</a></li>
            {% endif %}
            <li><a class="pagination-link is-current" href="?p={{ item_data.number }}">{{ item_data.number }}</a></li>
            {% if item_data.has_next %}
            <li><a class="pagination-link"
                    href="?p={{ item_data.next_page_number }}">{{ item_data.next_page_number }}</a></li>
            {% if item_data.next_page_number != item_data.paginator.num_pages %}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link"
                    href="?p={{ item_data.paginator.num_pages }}">{{ item_data.paginator.num_pages }}</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </nav>
</div>
<script>
    let mySwiperIO = new Swiper('#swiperIO', {
        autoplay: {
            delay: 2000,
        },
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    //IntersectionObserver のコールバック関数
    function callback(entries) {
        entries.forEach(entry => {
            if (entry.intersectionRatio >= 1) {
                // 対象の要素（スライダー）がすべて見えたら再生
                mySwiperIO.autoplay.start();
            } else if (entry.intersectionRatio === 0) {
                // 対象の要素（スライダー）がすべて見えなくなったら停止
                mySwiperIO.autoplay.stop();
                //mySwiperIO.slideToLoop(0); //先頭のスライドへ
            }
        });
    }

    //IntersectionObserver のオプション
    const ioOptions = {
        //全て見えるときと全て見えないときを検知するための閾値
        threshold: [0, 1],
        //監視領域のオフセット（見える手前100pxで表示する場合）
        //rootMargin: '100px', 
    }
    //オブザーバーを生成
    const observer = new IntersectionObserver(callback, ioOptions);
    //監視対象の領域（スライダー）を取得 
    const target = document.getElementById("swiperIO");
    //オブザーバーに監視対象の領域（スライダー）を指定
    observer.observe(target);


    //要素を取得
    const prev_button = document.querySelector('#swiperIO .swiper-button-prev');
    const next_button = document.querySelector('#swiperIO .swiper-button-next');
    //マウスオーバーイベント
    target.addEventListener('mouseenter', () => {
        // hover クラスを追加
        prev_button.classList.add('hover');
        next_button.classList.add('hover');
    });
    //マウスアウトイベント
    target.addEventListener('mouseleave', () => {
        // hover クラスを削除
        prev_button.classList.remove('hover');
        next_button.classList.remove('hover');
    });
</script>
{% endblock %}