{% extends "app/base.html"%}
{% load humanize %}
{% block extrajs %}
<script type="text/javascript">
    /* ポストに対するイイね */
    document.getElementById('ajax-like-for-post').addEventListener('click', e => {
    /* ログインしていない場合はログインページへ */
    if ("{{ user.is_authenticated }}"=="False"){
    window.location.href='{% url "account_login" %}'
    }
    e.preventDefault();
    const url = '{% url "like_for_post" %}';
    fetch(url, {
    method: 'POST',
    body: `item_pk={{slug}}`,
    headers: {
        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
        'X-CSRFToken': '{{ csrf_token }}',
    },
    }).then(response => {
    console.log("bb");
    return response.json();
    }).then(response => {
    console.log("aaaaaaaaaaaaaaa");
    const counter = document.getElementById('like-for-post-count')
    const icon = document.getElementById('like-for-post-icon')
    counter.textContent = response.like_for_post_count
    if (response.method == 'create') {
        icon.classList.remove('far')
        icon.classList.add('fas')
        icon.id = 'like-for-post-icon'
    } else {
        icon.classList.remove('fas')
        icon.classList.add('far')
        icon.id = 'like-for-post-icon'
    }
    }).catch(error => {
    console.log(error);
    });
});
</script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('#favorite_button').on('click', function(e) {
        e.preventDefault();

        $.ajax({
            'url': '{% url "favorite_add" %}',
            'type': 'POST',
            'data': {
                'slug': '{{ slug }}'
            },
            'dataType': 'json'
        })
        .done(function(response){
            /*
            $('.result').prepend('<p>引き算結果：' + response.minus + '</p>');
            $('.result').prepend('<p>足し算結果：' + response.plus + '</p>');
            */
        });
    });
</script>
{% endblock %}
{% block content %}
    <div class="my-5">
        <div class="title_box">
            <h1>商品詳細</h1>
            <p></p>
        </div>
        <div class="row">
            <div class="product_image">
                <img src="{{ item_data.image.url }}" class="img-fluid">
            </div>

            <div class="" id="card_functions">
                <div class="card">
                    <div class="card-body">
                        <h3>{{ item_data.title }}</h3>
                        <p class="mb-3">カテゴリー: {{ item_data.category }}</p>
                        <p class="mb-3">ブランド: {{ item_data.brand }}</p>
                        <p>価格: <span class="text-danger font-weight-bold">{{ item_data.price | intcomma }}円</span></p>
                        <hr>
                            <div id="product_detail_box">
                                <a href="{% url 'additem' item_data.slug %}" class="btn btn-primary"><i class="fas fa-shopping-cart"></i>カートに入れる</a>
                                {% if favorite %}
                                <a href="{% url 'favorite_item' item_data.slug %}" class="btn" id="review_button"><i class="fas fa-star"></i>お気に入り登録</a>
                                {% else %}
                                <a href="{% url 'favorite_delete' item_data.slug %}" class="btn" id="review_button_disabled"><i class="fas fa-star"></i>お気に入り解除</a>
                                {% endif %}
                                <a href="{% url 'review_post' item_data.slug %}" class="btn btn-dark"><i class="fas fa-comments"></i>レビューを書く</a>
                            </div>
                        <div id="share_box">
                            <div id="share_detail">
                                <ul class="snsbtniti2">
                                    <li><a href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'product' item_data.slug %}&text=商品 - Factio" class="flowbtn11 fl_tw1"
                                    ><i class="fab fa-twitter"></i><span>Twitterでシェア</span></a></li>
                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'product' item_data.slug %}"class="flowbtn11 fl_fb1"><i class="fab fa-facebook-f"></i><span>FaceBookでシェア</span></a></li>
                                    <li><a href="https://social-plugins.line.me/lineit/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'product' item_data.slug %}&text=商品 - Factio" class="flowbtn11 fl_li1"><i class="fab fa-line"></i><span>LINEでシェアする</span></a></li>
                                    <li><a href="http://b.hatena.ne.jp/entry/{{ request.scheme }}://{{ request.get_host }}{% url 'product' item_data.slug %}" class="flowbtn11 fl_hb1"><i class="fas fa-bold">!</i><span>Hatenaでシェア</span></a></li>
                                </ul>
                            </div>

                        <div class="card-header">
                            {% if is_user_liked_for_post %}
                                <button type="button" id="ajax-like-for-post" style="border:none;background:none">
                                    <i class="fas fa-heart text-danger" id="like-for-post-icon"></i>
                                </button>
                                {% else %}
                                <button type="button" id="ajax-like-for-post" style="border:none;background:none">
                                    <i class="far fa-heart text-danger" id="like-for-post-icon"></i>
                                </button>
                                {% endif %}
                                <span id="like-for-post-count">{{ like_for_post_count }}</span>
                                <span>件のイイね</span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="card_bottom">
            <div class="product_description">
                <p class="font-weight-bold">商品説明</p>
                <p>{{ item_data.description|linebreaksbr }}</p>
            </div>
            <div class="reviews_box">
                <p class="font-weight-bold">レビュー</p>
                <div class="review_box">
                {% for review in review_data %}
                    <div class="reviewers">
                        <div id="userprofile">
                            <img src="/media/{{ review.get_avatar_url }}" id="avatarimage">
                            <p>ID: {{ review.author.user_screen_id }}</p>
                            {% if review.bought %}
                                <p id="bought">購入者</p>
                            {% endif %}
                        </div>
                        <div class="review_detail">
                            <div class="rate">
                                {% for file_id in ""|rjust:review.like %}
                                <label id ="star">★</label>
                                {% endfor %}
                            </div>
                            <h3>{{ review.title }}</h3>
                            <p>{{ review.content }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
                    <div class="paginator">
                        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                            {% if review_data.has_previous %}
                            <a class="pagination-previous" href="?p={{ review_data.previous_page_number }}">前のページへ</a>
                            {% endif %}
                            {% if review_data.has_next %}
                            <a class="pagination-next" href="?p={{ review_data.next_page_number }}">次のページへ</a>
                            {% endif %}
                            <ul class="pagination-list">
                                {% if review_data.has_previous %}
                                {% if review_data.previous_page_number != 1 %}
                                <li><a class="pagination-link" href="?p=1">1</a></li>
                                <li><span class="pagination-ellipsis">&hellip;</span></li>
                                {% endif %}
                                <li><a class="pagination-link"
                                        href="?p={{ review_data.previous_page_number }}">{{ review_data.previous_page_number }}</a></li>
                                {% endif %}
                                <li><a class="pagination-link is-current" href="?p={{ review_data.number }}">{{ review_data.number }}</a></li>
                                {% if review_data.has_next %}
                                <li><a class="pagination-link"
                                        href="?p={{ review_data.next_page_number }}">{{ review_data.next_page_number }}</a></li>
                                {% if review_data.next_page_number != review_data.paginator.num_pages %}
                                <li><span class="pagination-ellipsis">&hellip;</span></li>
                                <li><a class="pagination-link"
                                        href="?p={{ review_data.paginator.num_pages }}">{{ review_data.paginator.num_pages }}</a></li>
                                {% endif %}
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}