{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}

{% block extrajs %}
<script type="text/javascript">
  // いいねボタンが押された時
  document.getElementById('ajax-like').addEventListener('click', e => {
    e.preventDefault();
    const url = '{% url "like" %}';
    fetch(url, {
      method: 'POST',
      body: `article_pk={{ article }}`,
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
        'X-CSRFToken': '{{ csrf_token }}',
      },
    }).then(response => {
      return response.json();
    }).then(response => {
      // いいね数を書き換える
      const counter = document.getElementById('like-count')
      counter.textContent = response.like_count
      const icon = document.getElementById('like-icon')
      // いいねした時はハートを塗る
      if (response.method == 'create') {
        icon.classList.remove('far')
        icon.classList.add('fas')
        icon.id = 'like-icon'
        console.log("o");
      } else {
        icon.classList.remove('fas')
        icon.classList.add('far')
        icon.id = 'like-icon'
        console.log("?");
      }
    }).catch(error => {
      console.log(error);
    });
  });
</script>
{% endblock %}

{% block content %}

    <div class="my-5">
      <div class="title_box">
        <h1>ファッションコーデ</h1>
        <p>カスタマイズされたコーデの詳細ページ</p>
    </div>
      <div class="row" id="fashion_product">
          <div class="fashion_product_image">
            <div id="kisekae-area">
              <img class="base-img" src="{% static 'images/tenasi.png' %}" />
              {% for value in fashion_list_data %}
                {% for result in item_data %}
                    {% if value.using_item == result.slug %}
                        <img class="{{ result.category }}" src="{{ result.image.url }}" alt="{{ value.using_item }}">
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
          </div>

          <div class="" id="card_functions">
              <div class="card">
                  <div class="card-body">
                      <h3>{{ fashion_item_data.title }}</h3>
                      <p class="mb-3">カテゴリー: {{ fashion_item_data.category }}</p>
                      <p class="mb-3">ブランド: {{ fashion_item_data.brand }}</p>
                      {% comment %} <p>価格: <span class="text-danger font-weight-bold">{{ fashion_item_data.price | intcomma }}円</span></p> {% endcomment %}
                      <hr>
                          <div id="product_detail_box">
                              <a href="{% url 'favorite_item' article %}" class="btn" id="review_button"><i class="fas fa-star"></i>お気に入り登録</a>
                              <a href="{% url 'fashion_view_review' article %}" class="btn btn-dark"><i class="fas fa-comments"></i>レビューを書く</a>
                          </div>
                      <div id="share_box">
                          <div id="share_detail">
                              <ul class="snsbtniti2">
                                  <li><a href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'fashion_view' article %}&text=ファッション - Factio" class="flowbtn11 fl_tw1"
                                  ><i class="fab fa-twitter"></i><span>Twitterでシェア</span></a></li>
                                  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'fashion_view' article %}"class="flowbtn11 fl_fb1"><i class="fab fa-facebook-f"></i><span>FaceBookでシェア</span></a></li>
                                  <li><a href="https://social-plugins.line.me/lineit/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'fashion_view' article %}" class="flowbtn11 fl_li1"><i class="fab fa-line"></i><span>LINEでシェアする</span></a></li>
                                  <li><a href="http://b.hatena.ne.jp/entry/{{ request.scheme }}://{{ request.get_host }}{% url 'fashion_view' article %}" class="flowbtn11 fl_hb1"><i class="fas fa-bold">!</i><span>Hatenaでシェア</span></a></li>
                              </ul>
                          </div>

                      <div class="card-header">
                          {% if is_user_liked_for_post %}
                              <button type="button" id="ajax-like-for-post" style="border:none;background:none">
                                  <i class="fas fa-heart text-danger" id="like-for-post-icon"></i>
                              </button>
                              {% else %}
                              <button type="button" id="ajax-like-for-post" style="border:none;background:none">
                                  <i class="far fa-heart text-danger" id="like-for-post-icon"></i>
                              </button>
                              {% endif %}
                              <span id="like-for-post-count">{{ like_for_post_count }}</span>
                              <span>件のイイね</span>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
      <div class="card_bottom">
          <div class="product_description">
              <p class="font-weight-bold">商品説明</p>
              <p>{{ fashion_item_data.description|linebreaksbr }}</p>
          </div>
          <div class="reviews_box">
            <p class="font-weight-bold">レビュー</p>
            <div class="review_box">
            {% for review in review_data %}
                <div class="reviewers">
                    <div id="userprofile">
                        <img src="/media/{{ review.get_avatar_url }}" id="avatarimage">
                        <p>ID: {{ review.author.user_screen_id }}</p>
                    </div>
                    <div class="review_detail">
                        <div class="rate">
                            {% for file_id in ""|rjust:review.like %}
                            <label id ="star">★</label>
                            {% endfor %}
                        </div>
                        <h3>{{ review.title }}</h3>
                        <p>{{ review.content }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
                <div class="paginator">
                    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                        {% if review_data.has_previous %}
                        <a class="pagination-previous" href="?p={{ review_data.previous_page_number }}">前のページへ</a>
                        {% endif %}
                        {% if review_data.has_next %}
                        <a class="pagination-next" href="?p={{ review_data.next_page_number }}">次のページへ</a>
                        {% endif %}
                        <ul class="pagination-list">
                            {% if review_data.has_previous %}
                            {% if review_data.previous_page_number != 1 %}
                            <li><a class="pagination-link" href="?p=1">1</a></li>
                            <li><span class="pagination-ellipsis">&hellip;</span></li>
                            {% endif %}
                            <li><a class="pagination-link"
                                    href="?p={{ review_data.previous_page_number }}">{{ review_data.previous_page_number }}</a></li>
                            {% endif %}
                            <li><a class="pagination-link is-current" href="?p={{ review_data.number }}">{{ review_data.number }}</a></li>
                            {% if review_data.has_next %}
                            <li><a class="pagination-link"
                                    href="?p={{ review_data.next_page_number }}">{{ review_data.next_page_number }}</a></li>
                            {% if review_data.next_page_number != review_data.paginator.num_pages %}
                            <li><span class="pagination-ellipsis">&hellip;</span></li>
                            <li><a class="pagination-link"
                                    href="?p={{ review_data.paginator.num_pages }}">{{ review_data.paginator.num_pages }}</a></li>
                            {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
        </div>
      </div>
  </div>
</div>
    {% endblock %}
